.dropdown {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  color: inherit;
  background: url(../../assets//chevron-down.png) right / 15px no-repeat
    transparent;
}

.dropdown:hover {
  opacity: 0.5;
}
