.App {
  text-align: center;
  height: 100%;
  color: white;
}

.App-main {
  background-color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.address-form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-form-container .sub-heading {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.address-form-container #duration-answers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address-form-container #postcode-search {
  width: 100%;
  display: flex;
  flex-direction: row;
}
